﻿@model Survey.Models.Question

<div class="question-text">
    @Model.Text
</div>
<div>
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].QuestionId", Model.Id)
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].Type", Model.Type)

    @foreach (var answer in Model.Answers)
    {
        @Html.RadioButton($"QuestionAnswers[{@ViewBag.QuestionIndex}].AnswerId", @answer.Id)
        @answer.Text
        <br/>
    }
</div>
