﻿@model Survey.Models.Question

<div class="question-text">
    @Model.Text
</div>
<div>
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].QuestionId", Model.Id)
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].Type", Model.Type)
    @Html.TextArea($"QuestionAnswers[{@ViewBag.QuestionIndex}].AnswerText", Model.Type)
</div>