﻿@model Survey.Models.Question

<div class="question-text">
    @Model.Text
</div>
<div class="row">
    <div class="col-sm-10">
        Not at all likely
    </div>
    <div class="col-sm-2">
        Extremely likely
    </div>
</div>
<div class="row">
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].QuestionId", Model.Id)
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].Type", Model.Type)
    @for (var i = 0; i <= 10; i++)
    {
        <div class="col-sm-1">
            @Html.RadioButton($"QuestionAnswers[{@ViewBag.QuestionIndex}].AnswerId", @i)
            @i
        </div>
    }
</div>