﻿@model Survey.Models.Question

<div class="question-text">
    @Model.Text
</div>
<div>
    @{ var index = 0; }
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].QuestionId", Model.Id)
    @Html.Hidden($"QuestionAnswers[{@ViewBag.QuestionIndex}].Type", Model.Type)
    @foreach (var answer in Model.Answers)
    {
        @Html.CheckBox($"QuestionAnswers[{@ViewBag.QuestionIndex}].SelectedAnswerIds[{index}]", new {id = $"QuestionAnswers[{@ViewBag.QuestionIndex}].SelectedAnswerIds[{index}]", value = answer.Id })
        @answer.Text
        <br/> 
        index++;
    }
</div>