﻿@using Survey.Models
@model IEnumerable<Submission>

@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h2>Dashboard</h2>
</div>
<div class="row">
    <div class="col-lg-6">
        <h3>Submissions</h3>
        <div><h4>@ViewBag.SurveyName</h4></div>
        <div class="bs-example">
            <div class="panel-group" id="accordion">
                @{ var index = 0; } 
                @foreach (var submission in Model)
                {
                    var lastQuestion = -1;
                    index++;
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@index">@submission.Completed</a>
                            </h4>
                        </div>
                        <div id="collapse_@index" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    @foreach (var answer in submission.SubmissionAnswers)
                                    {
                                        if (lastQuestion != answer.QuestionId)
                                        {
                                            <li>@answer.Question.Text</li>
                                        }

                                        if (answer.Question.Type == QuestionType.Multiple || answer.Question.Type == QuestionType.Single)
                                        {
                                            <span>@answer.Answer.Text. </span>
                                        }
                                        else
                                        {
                                            <span>@answer.AnswerText</span>
                                        }
                                        lastQuestion = @answer.QuestionId;
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <h3>Stats</h3>
        <h4>Total submissions:</h4>@ViewBag.TotalSubmissions
        <h4>Overall ratings:</h4>@ViewBag.Ratings
        <h4>Most answered question:</h4>@ViewBag.MostAnswered
    </div>
</div>