﻿@model Survey.Models.Question

<div class="question-text">
    @Model.Text
</div>
<div class="row">
    <div class="col-sm-10">
        Not at all likely
    </div>
    <div class="col-sm-2">
        Extremely likely
    </div>
</div>
<div class="row">
    @for (var i = 0; i <= 10; i++)
    {
        <div class="col-sm-1"> <input type="radio" name="Question.@Model.Type.@Model.Id" value="@i"/> @i </div>
    }
</div>