﻿@model Survey.Models.Question

<div class="question-text">
    @Model.Text
</div>
<div>
    @foreach (var answer in Model.Answers)
    {
        <input type="checkbox" name="Question.@Model.Type.@Model.Id" value="@answer.Id"/>
        <label for="@answer.Id">@answer.Text</label>
        <br/>
    }
</div>