﻿@using Survey.Models
@model Survey
@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="row lead header">
        <h2>@Model.Header</h2>
    </div>
    @{
        using (Html.BeginForm("SubmitSurvey", "Survey", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            foreach (var question in Model.Questions.OrderBy(x => x.Order))
            {
                <div class="row question">
                    @switch (question.Type)
                    {
                        case QuestionType.Text:
                            Html.RenderPartial("_QuestionTextPartial", question);
                            break;
                        case QuestionType.Multiple:
                            Html.RenderPartial("_QuestionMultiplePartial", question);
                            break;
                        case QuestionType.Single:
                            Html.RenderPartial("_QuestionSinglePartial", question);
                            break;
                        case QuestionType.Rating:
                            Html.RenderPartial("_QuestionRatingPartial", question);
                            break;
                    }
                </div>
            }
            <button type="submit" class="btn-lg">Done</button>
        }
    }
</div>

